* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 100px;
  height: 100px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  padding: 10px;
}

.title {
  padding: 0px;
  margin-right: 140px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 100px;
  text-align: center;
}
